@page "/"

<AuthorizeView Roles="Administrador">
    <Authorized Context="AuthenticationState">
        <h1>¡Bienvenido Administrador! :D</h1>
    </Authorized>
</AuthorizeView>

<AuthorizeView Roles="Usuario">
    <Authorized Context="AuthenticationState">
        <h1>¡Bienvenido Usuario! ;)</h1>
    </Authorized>
</AuthorizeView>

<AuthorizeView>
    <NotAuthorized>
        <h1>           Bienvenido         </h1>
        <h1> </h1>
        <h3> Para poder acceder a la aplicacion primero debera de hacer su autentificacion, porfavor ingrese uno de los siguentes
            perfiles de usuario: 
        </h3>
        <h4>* EPAVON   clave: 321</h4>
        <h4>* NCASCO   clave: 123</h4>
    </NotAuthorized> 
</AuthorizeView>


